.FLEX{
    DISPLAY:FLEX;
    flex-direction: ROW;
}
.ITEMS-CENTER{
    align-items: CENTER;
}
.JUSTIFY-BETWEEN{
    justify-content: space-between;
}
.BTN{
    PADDING:0.8REM 2REM;
    font-size: 1REM;
    font-weight: 600;
    BORDER:2PX SOLID TRANSPARENT;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: ALL .3S EASE;
    -webkit-transition:ALL .3S EASE;
    -MOZ-TRANSITION :ALL .3S EASE;
    -MS-TRANSITION: ALL .3S EASE;
    -o-transition: ALL .3S EASE;
}
.BTN-PRIMARY{
   background:var(--PRIMARY);
   color: VAR(--DARK);
}
.BTN-PRIMARY:HOVER{
    background:transparent ;
    border-color: VAR(--PRIMARY);
    COLOR:VAR(--PRIMARY);
    transition: ALL .3S EASE;
}
.BTN-SECONDARY{
    background: transparent;
    COLOR:VAR(--PRIMARY);
    border-color: VAR(--PRIMARY);
}
.BTN-SECONDARY:hover{
    background: VAR(--PRIMARY);
    COLOR:BLACK;

}
.FLEX-1{
    FLEX:1;
}
.JUSIFY-CENTER{
    justify-content: center;
}